@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.5vw;
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  transform: scale(1.2);
}

#add-note-btn {
  color: #2353ff;
}

#add-note-btn:hover {
  color: #1d41c4;
}

#title {
  font-style: italic;
  color: #2353ff;
  font-family: "Pangolin", cursive;
  letter-spacing: 0.5vw;
}

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
}

.date {
  margin-left: 1vw;
}

.notepad-wrapper {
  box-shadow: 2px 2px 2px gray;
  margin: 1vw;
}

.notepad-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: aliceblue;
  width: 40vw;
  font-style: italic;
}

.notepad-btn-wrapper {
}

#check-btn {
  color: rgb(0, 185, 0);
}

#check-btn:hover {
  color: rgb(1, 150, 1);
}

#delete-btn {
  color: rgb(255, 73, 73);
}

#delete-btn:hover {
  color: rgb(175, 2, 2);
}

.note-text {
  width: 38vw;
  min-height: 40vh;
  font-size: 1.5vw;
  padding: 1vw;
  border: none;
  outline: none;
  background: #fdffe2;

  font-family: "Pangolin", cursive;
  font-weight: 100;

  resize: none;
}

.note-read {
  width: 38vw;
  min-height: 40vh;
  font-size: 1.5vw;
  padding: 1vw;
  border: none;
  outline: none;
  background: #fdffe2;

  font-family: "Pangolin", cursive;
  font-weight: 100;
}

.note-text:focus {
  box-shadow: 2px 2px 2px gray;
}
